{{ block "home" . }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Title</title>
	<link rel="stylesheet" href="./assets/style.css">
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
	<link rel="icon" type="image/png" href="./assets/favicon-96x96.png" sizes="96x96" />
</head>

<body>
	<div class="topnav">
		{{ template "nav-bar" . }}
	</div>

	<div id="content">
		{{ template "home-content" . }}
	</div>
</body>

</html>
{{ end }}

{{ block "home-content" . }}
<h1> Welcome Home </h1>
{{ end }}

// TODO make so that the selected page stay in gold when click
{{ block "nav-bar" . }}
<a class="nav-bar" hx-get="/home-content" hx-target="#content" hx-push-url="/home">Home</a>
<a class="nav-bar" hx-get="/books-content" hx-target="#content" hx-push-url="/books">Books</a>
<a class="nav-bar" hx-get="/series-content" hx-target="#content" hx-push-url="/series">Series</a>
<a id="admin-nav-bar" class="nav-bar" hx-get="/admin-content?id=oui" hx-target="#content" hx-push-url="admin">Admin</a>
{{ end }}
