<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestionnaire de tâches</title>
	<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
	<link rel="stylesheet" href="/assets/style.css">
</head>

<body>
	<div class="top-bar">
		<!-- <div class="top-bar-left"> -->
		<!-- 	<h2>Gestionnaire de Tâches</h2> -->
		<!-- </div> -->
		<!-- <div class="top-bar-right"> -->
		<!-- 	<h3 id="current-date"></h3> -->
		<!-- 	<button id="new-task-button">+ Nouvelle tâche</button> -->
		<!-- </div> -->
	</div>

	<div id="page"></div>

	<!-- Load JavaScript files -->
	<script src="/js/app.js" type="module"></script>
</body>

</html>
