<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Title</title>
	<link rel="icon" type="image/png" href="./assets/favicon-96x96.png" sizes="96x96" />
	<script src='./assets/index.js'></script>
	<link rel="stylesheet" href="assets/style.css">
</head>

<body>
	<!-- Top Bar -->
	<div class="top-bar">
		<div class="top-bar-left">
			<h2>Top Bar</h2>
		</div>
		<div class="top-bar-right">
			<span id="current-date">Today</span>
			<button id="new-task-button" onclick="addNewTask()">+ New Task</button>
		</div>
	</div>

	<div class=" page">
		<div class="task-contend">
			<h1 id="task-name"></h1>
			<div id="task-timer-wrapper">
				<h2 id="task-time"></h2>
				<h2 id="task-left-time"></h2>
				<button onclick="StartTimer()">Démarrer le timer</button>
			</div>
			<p id="task-content"></p>
		</div>

		<!-- Liste des tâches (1/4 à droite) -->
		<div class="tasks">
			<h2 id="task-list-name">Liste des tâches aujourdhui</h2>
			<ul id="task-list"></ul>
		</div>
	</div>
</body>

</html>
