/* .{ */
/*       margin: 0; */
/*       padding: 0; */
/*       box-sizing: border-box; */
/*     } */

html,
body {
	height: 100%;
	font-family: Arial, sans-serif;
}

/* Grid principale */
.page {
	display: grid;
	grid-template-columns: 3fr 1fr;
	/* 3/4 à gauche, 1/4 à droite */
	height: 100vh;
}

/* Partie gauche */
.task-contend {
	padding: 20px;
	background-color: #f5f5f5;
	/* display: grid; */
}

/* Partie droite : liste de tâches */
.tasks {
	padding: 20px;
	background-color: #e0e0e0;
	border-left: 2px solid #ccc;
	overflow-y: auto;
}

#task-list-name {
	margin-bottom: 10px;
}

#task-list {
	list-style: none;
}

#task-timer-wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.task-list-element {
	padding: 10px;
	margin-bottom: 8px;
	background: white;
	border-radius: 4px;
	transition: background 0.2s;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	user-select: none;
}

.task-list-element:hover {
	background-color: grey;
}

.task-list-element:active {
	background-color: #ddd;
	transform: scale(0.97);
}
