body {
	background-color: silver;
}

#count-button {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#count-button:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;

}

@media (min-width: 768px) {
	#button-54 {
		padding: 0.25em 0.75em;
	}
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #341539;
	overflow: hidden;
	border-radius: 15px;
}

/* Style the links inside the navigation bar */

.topnav .nav-bar {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav #admin-nav-bar {
	float: right;
}

.topnav .nav-bar:hover {
	background-color: #CDB450;
	color: black;
}

.topnav .nav-bar.active {
	background-color: #04AA6D;
	color: white;
}
